@import "header";
@import "banner";
@import "offers";
@import "footer";
@import "burger-menu";

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;

  main {
    flex: 1 1 auto;
    width: 100%;
  }
}